@import "tailwindcss";

#root {
  max-width: 1220px;
  margin: 0 auto;
}
body{
  background-color: rgb(253, 253, 253);
}
.bgImage{
  background-image: url("assets/images/bannerimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position-y: 72%;
  height: 300px;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.shadow2{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media(max-width:1024px){
  .shadowHeader{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
@media(max-width:770px){
  .bgImage{
    height: 300px;
  }
}
/* loader */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #7cb2f4;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* banner loader */
.loader {
  border: 4px solid rgb(255, 255, 255);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(255, 255, 255);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(255, 255, 255);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}